<app-core-main-content-card>
  
  <div class="flex justify-between">
    <p class="my-auto font-medium text-[28px]">{{strings.users}}</p>
    <app-core-button-red (buttonClick)="onCreateClick()" class="my-auto" [text]="strings.create"/>
  </div>

  <app-core-search-field class="mt-6"/>

  <div class="mt-6">
    <app-core-department *ngFor="let item of mock_folders" [department]="item"/>
    <app-core-employee-item *ngFor="let item of mock_employees" [employee]="item"/>
  </div>
  
</app-core-main-content-card>