<app-core-main-content-card>
  <div class="flex justify-between">
    <p class="my-auto font-medium text-[28px]">{{ strings.users }}</p>
    <app-popup-menu [leftOffset]="-140" [topOffset]="20">
      <app-popup-menu-button>
        <app-core-button-red class="my-auto">
          {{ strings.create }}
        </app-core-button-red>
      </app-popup-menu-button>

      <app-popup-menu-content class="w-[240px]">
        <app-popup-menu-option [divider]="true" (onClick)="createEmployee()">
          {{ strings.employee }}
        </app-popup-menu-option>
        <app-popup-menu-option (onClick)="createDepartment()">
          {{ strings.department }}
        </app-popup-menu-option>
      </app-popup-menu-content>
    </app-popup-menu>
  </div>

  <div class="mt-6">
    <employees-select [settings]="employeesSelectSettings" />
  </div>
</app-core-main-content-card>
