<app-core-page-shading>
  <div
    class="flex flex-col gap-4 justify-between inset-0 m-[auto] min-h-[20%] max-h-[80%] bg-tt-main-backgorund rounded-tt-card p-6 z-10"
    [style.width.px]="data.windowWidth"
  >
    <div>
      <div class="flex flex-row h-10 mb-[16px]">
        <div class="text-[28px] font-medium w-full">{{ data.title }}</div>
        <svg-x-mark class="icon cursor-pointer mt-[8px]" (click)="closeClick.emit()" />
      </div>
  
      <ng-content></ng-content>
    </div>

    <div class="flex justify-end items-end ">
      <app-core-button-light-gray
        class="mr-[16px]"
        (buttonClick)="closeClick.emit()"
        [text]="data.cancel"
      />
      <app-core-button-red (onClick)="submitClick.emit()">
        {{ data.submit }}
      </app-core-button-red>
    </div>
  </div>
</app-core-page-shading>
