<app-core-page-shading>
  <div
    class="absolute inset-0 m-[auto] w-[963px] h-[521px] min-h-[20%] max-h-[60%] bg-tt-main-backgorund rounded-tt-card p-6 z-10"
  >
    <div class="flex flex-row h-10 mb-8">
      <div class="text-[28px] font-medium w-full">{{ data.title }}</div>
      <svg-x-mark class="icon cursor-pointer" (click)="closeClick.emit()" />
    </div>

    <ng-content></ng-content>

    <div class="flex justify-end mt-4">
      <app-core-button-light-gray
        class="mr-[16px]"
        (buttonClick)="closeClick.emit()"
        [text]="data.cancel"
      />
      <app-core-button-red
        (buttonClick)="submitClick.emit()"
        [text]="data.submit"
      />
    </div>
  </div>
</app-core-page-shading>
