<div>
    <div class="grid v-screen place-items-center mt-10">
        <div>
            <div class="p-2 w-700 h-9 flex justify-between">
                <h1 class="text-3xl font-semibold">Разделы</h1>
                <button class="w-36 h-9 bg-red-600 rounded-lg text-white">Создать раздел</button>
            </div>
            <div class="border-solid w-full h-10 bg-gray-400 relative  top-12">
                <input type="text" class="h-full w-520 rounded-lg">
            </div>
        </div>
    </div>
</div>
