<div class="dropdown" *ngIf="isVisible" style="position: absolute; top: {{top}}px; left: {{left}}px;">
  <div class="btn btn-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img src="assets/plus.circle.svg" alt="Image Button">
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Option 1</a>
    <a class="dropdown-item" href="#">Option 2</a>
    <a class="dropdown-item" href="#">Option 3</a>
    <!-- Add more options as needed -->
  </div>
</div>
