<button class="w-60" (click)="onNavItemClick()">
  <div class="flex h-12 bg-[#EEF0F3]" *ngIf="params.selected">
    <div class="flex">
      <div class="w-[2px] bg-tt-primary"></div>
      <div class="flex ml-[18px] my-auto">
        <img src="{{ params.icon }}" width="34" height="34" />
        <p class="ml-2 my-auto font-normal text-[16px]">{{ params.text }}</p>
      </div>
    </div>
  </div>

  <div class="flex h-12" *ngIf="!params.selected">
    <div class="flex my-auto ml-[20px]">
      <img src="{{ params.icon }}" width="34" height="34" />
      <p class="ml-2 my-auto font-normal text-[16px]">{{ params.text }}</p>
    </div>
  </div>
</button>
