<div class="bg-white flex h-screen flex-col" contenteditable="false" style="outline:none;">

    <div contenteditable="true" class="font-bold text-5xl mt-12 mb-4 ms-12 me-12 w-max min-w-full" id="ed-title"
         data-placeholder="Заголовок" style="outline:none;">{{state.longreadDocument.title}}</div>

    <div id="parent">

        <div contenteditable="true"
             style="outline:none"
             class="mt-4 ps-12 pe-12"
             *ngFor="let paragraph of state.longreadDocument.paragraphs"
             [attr.paragraph-type]="paragraph.type">

            <span id="ed-text-span"
                  *ngFor="let span of (paragraph | textCast : TextParagraph).spans"
                  [class]="StyleParser.addTextStyle(span.style)"
                  span-data-plcaholder="Просто начните"
                  [innerHTML]="span.text"></span>

            <div *ngIf="paragraph.type == 'image'"
                 id="ed-image"
                 contenteditable="false"
                 class="flex flex-col">

                <img class="place-self-center"
                     [src]="(paragraph | imageCast : ImageParagraph).url">

                <div class="place-self-center mt-2"
                     style="outline:none"
                     data-placeholder="Введите описание (не обязательно)"
                     contenteditable="true">{{(paragraph | imageCast : ImageParagraph).description}}</div>

            </div>

        </div>

    </div>

</div>
