<a
  href="https://teamtells.ru"
  class="w-11 z-10 h-11 rounded-full bg-tt-background-icon flex items-center justify-center text-tt-icon fixed right-3 top-3 sm:right-7 sm:top-7"
>
  <svg-x-mark class="w-4 fill-tt-icon" />
</a>

<div
  class="bg-tt-unaccented-background min-h-[100dvh] min-w-[100dvw] flex items-center flex-col justify-center px-2"
>
  <section
    class="relative bg-tt-main-background rounded-tt-card sm:rounded-tt-card-big mt-4 mb-16 p-[24px] sm:p-12 w-full max-w-[515px]"
    (keyup.enter)="performAction({ type: ResetPasswordActionTypes.RESET })"
  >
    <h1 class="text-2xl sm:text-[36px] font-bold mb-7 block text-center">
      Вход в <span class="text-tt-primary">TeamTells</span>
    </h1>
    <div *ngIf="state.status !== 'success'">
      <p>
        <span class="font-medium text-xl sm:text-2xl"
          >Восстановление пароля</span
        >
        <span class="block my-3 leading-6">
          Укажите почту, с которой вы регистрировались. Мы вышлем ссылку для
          смены пароля.
        </span>
      </p>

      <app-core-input-field
        class="mt-[20px]"
        placeholder="E-mail"
        type="text"
        [error]="state.emailError.toString()"
        (onChange)="
          performAction({
            type: ResetPasswordActionTypes.CHANGE_EMAIL,
            email: $event
          })
        "
      />

      <app-core-button-red
        class="w-full h-[56px] sm:text-lg mt-7"
        (click)="performAction({ type: ResetPasswordActionTypes.RESET })"
      >
        <div
          *ngIf="state.isLoading"
          class="max-w-[26px] max-h-[26px] mx-auto animate-spin"
        >
          <svg-button-loading class="w-[26px] h-[26px] fill-tt-contrast-text" />
        </div>
        <span *ngIf="!state.isLoading">Восстановить пароль</span>
      </app-core-button-red>
    </div>

    <div *ngIf="state.status === 'success'">
      <p class="text-center">
        <span class="font-medium text-xl sm:text-2xl">Проверьте почту</span>
        <span class="block my-3 leading-6">
          Ссылка для смены пароля отправлена на
          <span class="text-tt-secondary">{{ state.email }}</span>
        </span>
      </p>
    </div>
    <a
      class="w-full mt-7 h-[56px] sm:text-lg flex justify-center items-center cursor-pointer border-1 border-tt-field-border rounded-tt-bth"
      href="/login"
    >
      Назад
    </a>

    <div
      class="absolute left-0 bottom-[-44px] w-full flex justify-center items-center mt-[20px]"
    >
      <a class="text-tt-secondary-text" href="https://teamtells.ru">
        teamtells.ru
      </a>
    </div>
  </section>
</div>
