<div class="mx-[8px]">
  <div class="flex px-[8px] py-[8px] rounded-xl hover:bg-tt-background-hover" [style.marginLeft]="getMarginOffset()">
    <img
      *ngIf="document.documents.length != 0 && isOpen(document.id)"
      (click)="onArrowClicked(document.id)"
      class="w-[24px] h-[24px] my-auto rounded-full rotate-90"
      src="../../../../../assets/right-arrow.svg"
    />

    <img
      *ngIf="document.documents.length != 0 && !isOpen(document.id)"
      (click)="onArrowClicked(document.id)"
      class="w-[24px] h-[24px] my-auto rounded-full"
      src="../../../../../assets/right-arrow.svg"
    />

    <img
      *ngIf="document.documents.length == 0"
      class="w-[24px] h-[24px] my-auto rounded-full -rotate-180"
      src="../../../../../assets/dot.svg"
    />

    <div class="ml-[8px] text-tt-main-text font-normal">{{document.title}}</div>
  </div>

  <div *ngIf="isOpen(document.id)">
    <app-document-item
      [level]="level + 1"
      *ngFor="let item of document.documents"
      [document]="item"
      [openDocuments]="openDocuments"
      (arrowClicked)="onArrowClicked($event)"
    />
  </div>

</div>
