<div class="bg-gray-100 fixed top-0 right-0 left-0 bottom-0"></div>

<app-core-card>
  <img ngSrc="assets/team_tels.png" height="25" width="152" class="mb-2" />

  <div class="mb-4">Введите email и пароль</div>

  <app-core-input-field
    placeholder="E-mail"
    type="text"
    [error]="state.emailError.toString()"
    (onChange)="
      performAction({
        type: AuthorizationActionTypes.CHANGE_EMAIL,
        email: $event
      })
    "
  />
  <app-core-input-field
    class="my-3"
    placeholder="Пароль"
    type="password"
    [error]="state.passwordError.toString()"
    (onChange)="
      performAction({
        type: AuthorizationActionTypes.CHANGE_PASSWORD,
        password: $event
      })
    "
  />

  <button
    class="py-3 px-4 w-full bg-tt-red text-tt-white rounded-lg mt-1"
    (click)="performAction({ type: AuthorizationActionTypes.LOGIN })"
  >
    Войти
  </button>
</app-core-card>
