<div class="bg-gray-100 fixed top-0 right-0 left-0 bottom-0"></div>

<!--Ждем компонент-->
<div
  class="absolute w-min h-min bg-red-100 px-2 py-2 mt-2 mr-2"
  *ngIf="state.loginError != null"
>
  {{ state.loginError }}
</div>

<app-core-card
  (keyup.enter)="performAction({ type: AuthorizationActionTypes.LOGIN })"
>
  <img ngSrc="assets/team_tels.png" height="25" width="152" class="mb-2" />

  <div class="mb-4">Введите email и пароль</div>

  <app-core-input-field
    placeholder="E-mail"
    type="text"
    [error]="state.emailError.toString()"
    (onChange)="
      performAction({
        type: AuthorizationActionTypes.CHANGE_EMAIL,
        email: $event
      })
    "
  />
  <app-core-input-field
    class="my-3"
    placeholder="Пароль"
    type="password"
    [error]="state.passwordError.toString()"
    (onChange)="
      performAction({
        type: AuthorizationActionTypes.CHANGE_PASSWORD,
        password: $event
      })
    "
  />

  <button
    class="py-3 px-4 w-full bg-tt-primary text-tt-contrast-text rounded-lg mt-1"
    (click)="performAction({ type: AuthorizationActionTypes.LOGIN })"
  >
    Войти
  </button>

  <!--Ждем компонент-->
  <div *ngIf="state.isLoading">Загрузка...</div>
</app-core-card>
