<div>

  <div class="h-14 pr-2 py-1 flex" 
    [style.marginLeft]="getMarginOffset()"
    [style.paddingLeft]="getPaddingOffset()"
    [ngClass]="{ 
      'bg-tt-light-blue': department.isSelect
    }"
    >

    <img class="w-6 h-6 my-auto" src="../../../../assets/folder-dot.svg"
      *ngIf="department.departments.length == 0 && !(department.employees.length == 0 || employeesVisible)">
    <img class="w-6 h-6 my-auto cursor-pointer" src="../../../../assets/folder-arrow.svg"
      (click)="changeVisibilityContent()" 
      [ngClass]="{'show': department.visibleContent}"
      [ngClass]="{'hide': !department.visibleContent}"
      *ngIf="!(department.departments.length == 0 && !(department.employees.length == 0 || employeesVisible))">
    <img class="w-9 h-7 my-auto ml-3 " src="../../../../assets/folder.svg">

    <button class="flex" (click)="departmentClicked($event)">
      <p class="ml-3 my-auto font-medium text-[16px] text-tt-dark-gray">{{department.name}}</p>
      <p class="ml-1 my-auto font-medium text-[16px] text-tt-light-gray">({{countOfEmploees}})</p>
    </button>

  </div>

  <div *ngIf="department.visibleContent">
    <app-core-department 
      *ngFor="let item of department.departments"
      [department]="item" 
      [offset]="offset + oneOffsetStepSize"
      (clicked)="clicked.emit($event)"
      (ctrlClicked)="ctrlClicked.emit($event)"
      (employeeClicked)="employeeClicked.emit($event)"
      (employeeCtrlClicked)="employeeCtrlClicked.emit($event)"
      [employeesVisible]="employeesVisible"
      />
    <div *ngIf="employeesVisible">
      <app-core-employee-item 
      *ngFor="let item of department.employees" 
      [employee]="item" 
      [offset]="offset + oneOffsetStepSize"
      (clicked)="employeeClicked.emit($event)"
      (ctrlClicked)="employeeCtrlClicked.emit($event)"
      />
    </div>
    
  </div>
  
</div>
