<div>

  <div class="h-14 px-2 py-1 flex" >
    <img class="w-6 h-6 my-auto" *ngIf="department.departments.length == 0 && department.employees.length == 0" src="../../../../assets/folder-dot.svg">
    <img class="w-6 h-6 my-auto cursor-pointer" src="../../../../assets/folder-arrow.svg"
      (click)="showTrigger()" 
      [ngClass]="{'show': show}"
      [ngClass]="{'hide': !show}"
      *ngIf="department.departments.length != 0 || department.employees.length != 0" 
      >
    <img class="w-9 h-7 my-auto ml-3 " src="../../../../assets/folder.svg">
    <button class="flex" (click)="onDepartmentClick()">
      <p class="ml-3 my-auto font-medium text-[16px] text-tt-dark-gray">{{department.name}}</p>
      <p class="ml-1 my-auto font-medium text-[16px] text-tt-light-gray">({{countOfEmployees}})</p>
    </button>
  </div>

  <div class="pl-9" *ngIf="show">
    <app-core-department *ngFor="let item of department.departments" [department]="item"/>
    <app-core-employee-item *ngFor="let item of department.employees" [employee]="item"/>
  </div>
  
</div>
