<div [ngClass]="class">
  <div class="relative w-full h-tt-field">
    <button
      type="button"
      [class.bg-tt-field-background-error]="error"
      [class.bg-tt-field-background]="!error"
      [class.outline-tt-field-border-error]="error"
      [class.ring-tt-field-border-error]="error"
      [class.ring-2]="opened"
      (click)="onClickDropwdown()"
      class="h-full w-full outline outline-1 outline-tt-field-border rounded-tt-input px-[20px] ring-tt-field-border focus:ring-2 focus:outline-none"
      type="button"
    >
      <p class="flex justify-between items-center">
        <span *ngIf="selectedItem" class="text-tt-main-text">
          {{ selectedItem.name }}
        </span>
        <span *ngIf="!selectedItem" class="text-tt-light-gray">
          {{ placeholder }}
        </span>
        <span class="flex items-center gap-[6px]">
          <button
            *ngIf="this.onUnselect.observed && selectedItem"
            (click)="onUnselectItem($event, selectedItem!.id)"
            type="button"
            class="flex justify-center items-center h-[28px] w-[28px] hover:bg-tt-main-backgorund rounded-full transition-colors"
          >
            <svg-x-mark class="icon-sm"></svg-x-mark>
          </button>
          <button
            *ngIf="
              this.onSelect.observed ||
              (!this.onSelect.observed && this.items.length === 0)
            "
            type="button"
            class="flex justify-center items-center h-[28px] w-[28px] hover:bg-tt-main-backgorund rounded-full transition-colors"
          >
            <svg-bordered-arrow class="icon" />
          </button>
        </span>
      </p>
    </button>
    <ul
      *ngIf="items.length !== 0"
      [class.hidden]="!opened"
      class="z-50 absolute w-full top-[55px] text-start bg-tt-field-background ring-2 ring-tt-field-border outline outline-1 outline-tt-field-border rounded-t-none rounded-tt-input"
    >
      <li
        *ngFor="let item of items"
        (click)="onSelectItem(item.id)"
        class="cursor-pointer h-[40px] px-[20px] w-full bg-tt-field-background hover:bg-tt-light-light-gray transition flex items-center border-b border-tt-field-border last:border-b-0"
      >
        <span class="text-tt-field">{{ item.name }}</span>
      </li>
    </ul>
  </div>
  <app-field-error-message [error]="error" />
</div>
