<div class="relative w-full h-tt-field max-w-tt-field" [ngClass]="class">
    <button type="button" [class.bg-tt-bg-error]="error" [class.bg-tt-white]="!error"
        [class.outline-tt-stroke-error]="error" [class.ring-tt-stroke-error]="error" [class.ring-2]="opened"
        (click)="switch()"
        class="h-full w-full outline outline-1 outline-tt-stroke rounded-tt-input px-[20px] ring-tt-stroke focus:ring-2 focus:outline-none"
        type="button">
        <p class="flex justify-between items-center">
            <span *ngIf="selectedItem" class="text-tt-field">{{ selectedItem.name }}</span>
            <span *ngIf="!selectedItem" class="text-tt-light-gray">{{ placeholder }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                <path d="M1 1L7 7L13 1" stroke="#BCC1C6" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </p>
    </button>
    <ul *ngIf="items.length !== 0" [class.hidden]="!opened"
        class="z-50 absolute w-full top-[55px] text-start bg-tt-white ring-2 ring-tt-stroke outline outline-1 outline-tt-stroke rounded-t-none rounded-tt-input">
        <li *ngFor="let item of items" (click)="onSelectItem(item.id)"
            class="cursor-pointer h-[40px] px-[20px] w-full bg-tt-white hover:bg-tt-light-light-gray transition flex items-center border-b border-tt-stroke last:border-b-0">
            <span class="text-tt-field">{{ item.name }}</span>
        </li>
    </ul>
</div>
<app-field-error-message error="error" />