<div class="card" [ngStyle]="cardStyle" [@dialogAnimation]="dialogState">
  <div class="w-[551px] h-10 px-4 bg-white rounded-lg shadow justify-start items-center gap-2 inline-flex">
    <div class="h-[38px] p-2 justify-center items-center gap-1 flex">
      <div class="text-zinc-600 text-base font-normal font-['Open Sans']">Text</div>
      <img ngSrc="assets/chevron.down.svg" height="6" width="12" alt="select...">
    </div>
    <div class="w-px h-10 relative bg-neutral-100"></div>
    <div class="p-2 justify-center items-center gap-1 flex">
      <div class="text-zinc-600 text-base font-normal font-['Open Sans']">18</div>
      <img ngSrc="assets/chevron.down.svg" height="6" width="12" alt="select...">
    </div>
    <div class="w-px h-10 relative bg-neutral-100"></div>
    <div class="p-2 justify-center items-center flex">
      <div class="text-zinc-600 text-base font-extrabold font-['Open Sans']">B</div>
    </div>
    <div class="p-2 justify-center items-center flex">
      <img ngSrc="assets/marker.italic.svg" height="12" width="11" alt="select...">
    </div>
    <div class="w-px h-10 relative bg-neutral-100"></div>
    <div class="p-2 justify-center items-center flex">
      <div class="flex-col justify-center items-center inline-flex">
        <div class="text-zinc-600 text-base font-normal font-['Open Sans']">A</div>
        <div class="w-3 h-px relative bg-black"></div>
      </div>
    </div>
    <div class="p-2 justify-center items-center flex">
      <div class="text-center text-zinc-600 text-base font-normal font-['SF Pro']">􀣷</div><!--  -->
    </div>
    <div class="p-2 justify-center items-center flex">
      <div class="text-center text-zinc-600 text-base font-normal font-['SF Pro']">􁚝</div>
    </div>
    <div class="w-px h-10 relative bg-neutral-100"></div>
    <div class="p-2 bg-neutral-100 rounded-lg justify-center items-center flex">
      <div class="text-center text-zinc-600 text-base font-normal font-['SF Pro']">􀌀</div>
    </div>
    <div class="p-2 justify-center items-center flex">
      <div class="text-center text-zinc-600 text-base font-normal font-['SF Pro']">􀌁</div>
    </div>
    <div class="p-2 justify-center items-center flex">
      <div class="text-center text-zinc-600 text-base font-normal font-['SF Pro']">􀌂</div>
    </div>
  </div>
</div>
