<div
  class="flex justify-between pr-2 py-1"
  [style.marginLeft]="getMarginOffset()"
  [style.paddingLeft]="getPaddingOffset()"
  [ngClass]="{
    'rounded-2xl hover:bg-tt-light-light-gray': !employee.isSelect,
    'bg-tt-light-blue': employee.isSelect
  }"
  (click)="onClick($event)"
  (mouseover)="onMouseOver()"
  (mouseleave)="onMouseOut()"
>
  <div class="flex">
    <img
      *ngIf="employee.img == ''"
      class="w-10 h-10 my-auto rounded-full"
      src="../../../../../assets/empty_employee_icon.svg"
    />
    <img
      *ngIf="employee.img != ''"
      class="w-10 h-10 my-auto rounded-full"
      src="{{ employee.img }}"
    />

    <div class="ml-4 my-auto">

      <div class="flex font-medium text-[16px] text-tt-dark-gray">
        <span *ngIf="name.length != 0" class="">{{ name[0].trim() }}</span>
        <span *ngIf="name[0].endsWith(' ')">&nbsp;</span>
        <div *ngIf="name.length >= 2" class="bg-tt-select-blue">
          <span *ngIf="name[1].startsWith(' ')">&nbsp;</span>
          <span>{{ name[1].trim() }}</span>
          <span *ngIf="name[1].endsWith(' ') && !name[1].startsWith(' ')">&nbsp;</span>
        </div>
        <div *ngIf="name.length >= 3">
          <span *ngIf="name[2].startsWith(' ')">&nbsp;</span>
          <span >{{ name[2].trim() }}</span>
        </div>
      </div>
      
      <p class="font-normal text-[16px] text-tt-gray">{{ employee.mail }}</p>
    </div>
  </div>

  <app-popup-menu [leftOffset]="-212" [topOffset]="16">
    <app-popup-menu-button class="mt-[14px]">
      <button class="w-5 h-5 my-auto">
        <img draggable="false" src="../../../../assets/triple-dot.svg" />
      </button>
    </app-popup-menu-button>
    <app-popup-menu-content>
      <app-popup-menu-option [divider]="true" (onClick)="editEmployee()">
        {{ strings.actions.edit }}
      </app-popup-menu-option>
      <app-popup-menu-option [divider]="true">
        {{ strings.actions.move }}
      </app-popup-menu-option>
      <app-popup-menu-option class="text-tt-red" (onClick)="deleteClicked.emit(employee)">
        {{ strings.actions.delete }}
      </app-popup-menu-option>
    </app-popup-menu-content>
  </app-popup-menu>
</div>
