<div class="flex justify-between pr-2 py-1"
  [style.marginLeft] = "getMarginOffset()"
  [style.paddingLeft] = "getPaddingOffset()"
  [ngClass]="{ 
    'rounded-2xl hover:bg-tt-light-light-gray': !isSelected, 
    'bg-tt-light-blue': isSelected
  }"
  (click)="onClick($event)"
  (mouseover)="onMouseOver()"
  (mouseleave)="onMouseOut()"
  >

  <div class="flex">
    <img *ngIf='employee.img == ""' class="w-10 h-10 my-auto rounded-full" src="../../../../../assets/empty_employee_icon.svg">
    <img *ngIf='employee.img != ""' class="w-10 h-10 my-auto rounded-full" src="{{employee.img}}">
  
    <div class="ml-4 my-auto">
      <p class="font-medium text-[16px] text-tt-dark-gray">{{employee.name}}</p>
      <p class="font-normal text-[16px] text-tt-gray">{{employee.mail}}</p>
    </div>
  </div>
  
  <button class="w-5 h-5 my-auto" *ngIf="showDots && !isSelected">
    <img src="../../../../assets/triple-dot.svg">
  </button>

</div>
