<div class="bg-gray-100 fixed top-0 right-0 left-0 bottom-0"></div>

<app-core-card>

  <img ngSrc="assets/team_tels.png" height="25" width="152" class="mb-2">

  <div class="mb-4">Введите email и пароль</div>

  <input
    type="text"
    class="border rounded w-full py-2 px-4"
    placeholder="E-mail"
  >

  <p class="mb-2 text-red-700 text-xs">Поле E-mail не должно быть пустым</p>

  <input
    type="text"
    class="border rounded w-full py-2 px-4 mb-2"
    placeholder="Пароль"
  >

  <p class="mb-2 text-red-700 text-xs">Пароль не должен быть пустым</p>

  <button
    class="py-3 px-4 w-full bg-red-700 text-white rounded-lg mt-1"
  >Войти</button>

</app-core-card>
