<app-core-main-content-card>
  <app-core-dropdown-field class="mb-2" [items]="dropdownItems" [selectedItem]="selectedItem"
    [onSelect]="onSelectItem" />
  <app-core-dropdown-field error="Error????" class="mb-2" [items]="dropdownItems" [selectedItem]="selectedItem"
    [onSelect]="onSelectItem" />
  <app-core-input-field class="mb-12" error="Ошибка" />
  <app-core-input-field type="text" placeholder="Имя" defaultValue="Мое имя..." [onChange]="onChangeName"
    class="my-4" />
  <app-core-input-field type="number" defaultValue="89024334804" />
  <app-core-input-field type="password" placeholder="Пароль" class="mt-4" error="Ошибка" />
</app-core-main-content-card>