@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        font-family: 'Open Sans', sans-serif;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-select {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}
