<a
  href="https://teamtells.ru"
  class="w-11 h-11 rounded-full bg-tt-background-icon flex items-center justify-center text-tt-icon fixed right-7 top-7"
>
  <svg-x-mark class="w-4 fill-tt-icon" />
</a>

<div
  class="bg-tt-unaccented-background min-h-[100dvh] min-w-[100dwh] flex items-center flex-col justify-center"
>
  <section
    class="relative bg-tt-main-background rounded-tt-card-large mt-4 mb-16"
    [ngClass]="{
      'mt-4 mb-16': state.status === 'idle',
      'w-[706px] min-h-[396px] pt-12 pb-6': state.status !== 'idle'
    }"
  >
    <div *ngIf="state.status === 'idle'" class="max-w-[784px] mx-36 my-16">
      <h1 class="text-[36px] font-bold mb-7 block text-center">
        Регистрация в <span class="text-tt-primary">TeamTells</span>
      </h1>
      <input type="text" prefix="+7" mask="(000) 000 00 00" />
      <app-core-input-field
        placeholder="Ваше имя*"
        [error]="state.nameError"
        (onChange)="
          performAction({
            type: RegistrationActionTypes.CHANGE_NAME,
            name: $event
          })
        "
      />
      <app-core-dropdown-field
        class="my-[20px]"
        placeholder="Из какой отрасли ваша компания?"
        [error]="state.specializingError"
        [items]="state.specializations"
        [selectedItem]="state.selectedSpecializing"
        (onSelect)="
          performAction({
            type: RegistrationActionTypes.CHANGE_SPECIALIZING,
            specializingId: $event
          })
        "
        (onUnselect)="
          performAction({
            type: RegistrationActionTypes.REMOVE_SPECIALIZING
          })
        "
      />
      <app-core-dropdown-field
        class="max-w-none"
        placeholder="Сколько человек работает в компании?"
        [error]="state.staffSizeError"
        [items]="state.possibleStaffSize"
        [selectedItem]="state.selectedStaffSize"
        (onSelect)="
          performAction({
            type: RegistrationActionTypes.CHANGE_STAFF_SIZE,
            staffSizeId: $event
          })
        "
        (onUnselect)="
          performAction({
            type: RegistrationActionTypes.REMOVE_STAFF_SIZE
          })
        "
      />
      <div class="flex gap-[20px] my-[20px]">
        <app-core-input-field
          class="flex-1"
          placeholder="Электронная почта*"
          [error]="state.emailError"
          (onChange)="
            performAction({
              type: RegistrationActionTypes.CHANGE_EMAIL,
              email: $event
            })
          "
        />
        <app-core-input-field
          class="flex-1"
          placeholder="Мобильный телефон*"
          prefix="+7"
          mask="(000) 000-00-00"
          [error]="state.phoneNumberError"
          (onChange)="
            performAction({
              type: RegistrationActionTypes.CHANGE_PHONE_NUMBER,
              phoneNumber: $event
            })
          "
        />
      </div>
      <div class="h-[1px] w-full bg-tt-field-border my-7"></div>
      <div class="flex gap-4 items-center">
        <div>
          <p class="text-tt-secondary-text text-sm leading-6">
            Заполняя форму, я принимаю
            <a href="#" class="text-tt-secondary"
              >условия передачи информации</a
            >
            и даю
            <a href="#" class="text-tt-secondary">
              согласие на получение информации о продуктах компании и партнеров
            </a>
          </p>
        </div>
        <app-core-button-red
          class="whitespace-nowrap h-[56px]"
          (onClick)="
            performAction({
              type: RegistrationActionTypes.CREATE
            })
          "
        >
          Создать аккаунт
        </app-core-button-red>
      </div>
    </div>

    <div
      *ngIf="
        state.status === 'pending' || state.status === 'success' || 'error'
      "
      class="mx-auto w-[400px]"
    >
      <div *ngIf="state.status === 'error'" class="flex items-center flex-col">
        <h2 class="text-2xl text-center inline-block my-6">
          Не удалось создать аккаунт
        </h2>
      </div>
      <div
        *ngIf="state.status === 'success'"
        class="flex items-center flex-col"
      >
        <img
          class="w-28 h-28"
          src="../../../../assets/registration-success.png"
          alt="Registration Success"
        />
        <h2 class="text-2xl text-center inline-block my-6">
          Аккаунт успешно создан
        </h2>
        <span class="text-center">
          Данные аккаунта отправили на email, который вы указали при регистрации
        </span>
        <a
          href="/"
          class="mt-6 bg-tt-light-light-gray block py-3 px-6 text-tt-secondary rounded-tt-bth"
        >
          На главную
        </a>
      </div>
      <div
        *ngIf="state.status === 'pending'"
        class="flex items-center flex-col"
      >
        <svg-loading class="animate-spin text-tt-primary w-24 h-24" />

        <h2 class="text-2xl text-center inline-block mt-10 mb-6">
          Подождите, создаем ваш аккаунт
        </h2>
        <span class="text-center">
          Данные аккаунта отправили на email, который вы указали при регистрации
        </span>
      </div>
    </div>

    <div
      *ngIf="state.status !== 'pending'"
      class="absolute left-0 bottom-[-44px] w-full flex justify-between items-center mt-[20px]"
    >
      <a class="text-tt-secondary-text" href="https://teamtells.ru"
        >teamtells.ru</a
      >
      <a class="text-sm font-medium flex items-center" href="/login">
        Войти в учетную запись
        <svg-arrow-right class="h-3 w-2 ms-2" />
      </a>
    </div>
  </section>
</div>
