<div class="flex h-screen flex-col bg-white rounded-2xl hover:bg-tt-light-light-gray">

  <div class="w-[360px] h-full bg-tt-unaccented-background overflow-auto cursor-pointer">

    <div class="flex px-[8px] mx-[8px] py-[8px] mt-[22px] items-center">
      <img class="h-[32px] w-[32px] p-[2px]" [src]="state.url"/>
      <div class="font-semibold text-base ms-[8px]">{{state.title}}</div>
    </div>

    <div
      class="group flex px-[8px] mx-[8px] py-[8px] items-center rounded-xl hover:bg-selected-section-icon-background-color">
      <svg-square class="document-icon"></svg-square>
      <div class="text-base font-normal ms-[8px] text-tt-main-text group-hover:text-tt-selected-section-text-color">Все
        страницы
      </div>
    </div>

    <div
      class="group flex px-[8px] mx-[8px]  py-[8px] items-center rounded-xl hover:bg-selected-section-icon-background-color">
      <svg-gear-shape class="p-[2px] document-icon"></svg-gear-shape>
      <div class="text-base ms-[8px] text-tt-main-text font-normal group-hover:text-tt-selected-section-text-color">
        Настройки раздела
      </div>
    </div>

    <div class="group flex justify-between mt-[16px] px-[8px] mx-[8px] py-[8px] rounded-xl hover:bg-selected-section-icon-background-color">
      <div
        class="flex">
        <svg-bordered-arrow class="document-icon"></svg-bordered-arrow>
        <div class="text-base ms-[8px] text-tt-main-text font-medium group-hover:text-tt-selected-section-text-color">Содержание</div>
      </div>
      <svg-plus class="document-icon align-self-end hidden group-hover:block"></svg-plus>
    </div>

    <div *ngFor="let document of state.documents">
      <app-document-item
        (arrowClicked)="this.performAction({
          type: SectionActionTypes.CHANGE_DOCUMENT_OPEN_STATE,
          documentId: $event
        })"
        [document]="document"
        [openDocuments]="state.openDocuments"
      ></app-document-item>
    </div>
  </div>
</div>
